/*----------------------------------------------------Partial Certificaciones----------------------------------------------------------------*/
.sectiontitle{margin: auto;
}

.certbox{
    margin: auto;
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 90%;
        .card{
            width:40%;
            height: fit-content;
            margin: auto;}    
    }


