/*----------------------------------------------------Partial Fotos----------------------------------------------------------------*/


.contenedorfotos{
    background-color: rgb(241, 241, 241);
    padding: 40px;
    border-radius: 5px;
    margin: auto;
    .ttlfoto{
        font-size: 200%;
        text-align: center;
    }
    .fotogaleria{width: 45%;
        height: 30%;
        margin:auto;
        overflow: hidden;
        font-size: 150%;
        padding:10px;
        margin-top: 20px;
        box-shadow: 5px 5px 5px rgb(97, 97, 97);
    
    }
    h3{font-size: 340%;}

    img .image-fluid{

        width: 250px;
        height: 250px;
        box-shadow: 5px 5px 3px rgb(126, 126, 126); 
        overflow: hidden;
    }
}


