/*---------------------------------------------------- Fotos----------------------------------------------------------------*/
/*---------------------------------------------------- Fotos----------------------------------------------------------------*/
/*---------------------------------------------------- Fotos----------------------------------------------------------------*/
/*---------------------------------------------------- Fotos----------------------------------------------------------------*/
/*---------------------------------------------------- Fotos----------------------------------------------------------------*/
/*---------------------------------------------------- Fotos----------------------------------------------------------------*/

.contenedorfotos{
    background-color: rgb(241, 241, 241);
    padding: 40px;
    border-radius: 5px;

    .ttlfoto{
        font-size: 160%;
        text-align: center;
    }

    img{
        box-shadow: 5px 5px 3px rgb(126, 126, 126); ;
    }
}


