
/*----------------------------------------------------Partial Laboratorios----------------------------------------------------------------*/
.sectiontitle{margin: auto;
}

.busqueda{
    
    margin: auto;
    width: 90%;
    height: fit-content;
    font-size: 70%;}
.containerlab{
    position: relative;
    width: 90%;
    height: fit-content;
    background-color: #FFFFFF;
    border: #666666 solid 1px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
}

