/*-----------------------------------------------------Partial Media queries---------------------------------------------------------------*/


@media (min-width:0px ) and (max-width:480px)
{   html, body,footer{height: 90%;
                width: 100%;}
    nav{
        height: 10%;
    }
    footer{
        font-size: 50%;
    }

/*Retoques Index.html*/
    .sectiontitle{
        font-size: 140%;
        margin: auto;
        text-align: center;}
    .btn{
        font-size: 50%;
        padding: 4px;
    }
    
    
    .presentacion{height:fit-content;
        width:100%;
        margin: auto;


        .Title{font-size: 100%;
            padding-left: 20px;
            padding-right: 20px;
            }
        
        .Subtitle{font-size: 60%;
            width: 95%;
            padding-left: 20px;
            padding-right: 20px;}

        .Description{
            font-size: 45%;
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
                }
    }
    
    
    
    
.Seccion1{
            height: fit-content;

            .experienciaycertificaciones {
                margin: auto;
                background-color: #ebebeb;
                width:100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;

                .expcard{
                    font-size: 60%;
                    margin: auto;
                    width: 80%;
                    text-align: center;
                    height: fit-content;
                    padding: 10px;
                    }

                    h2{
                        font-size: large;
                        }
                } 
    }

.Seccion2{height: fit-content;

    .carousel-item{
        h2{
        margin:auto;
        font-size: medium;}
        
        p{
            margin:auto;
            font-size: medium;}
    }
    


}

    
.Seccion3{
            display: grid;
            place-content: center;
                .fotos{
                    width: 90%;
                    height: 200px;
                    overflow: scroll;
                    padding: 20px;
                    font-size: small;
                    grid-template-rows: repeat(4fr);
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas:
                    "foto1 texto1"
                    "foto2 texto2"
                    "foto3 texto3"
                    "foto4 texto4";

                    .card{width: 60%;
                        height: 60%;
                    
                        .foto{
                            width: 90%;
                            height: 90%;}
                    }
                    
                    }   



                    }
                
    
    .Seccion4{  
            height: fit-content;
            font-size: xx-large;
            text-align: center;
            }
            .Seccion4 h3{margin:auto;
                text-align: center;
            font-size: medium;}
}

.encabezado img{grid-area: icon;
    place-content: left;
    width: 25px;}
    
/*Retoques Certificaciones*/
    .secundaria h1{
            font-size:120%;
                }

    .certbox{
            width: 80%;
            height: 100%;
            margin: auto;
            font-size: 60%;
            padding-bottom: 30px;}
    .certbox div{
            height: fit-content;
            gap:20px;
    }
/*Retoques Biblioteca*/
/*Retoques fotos*/
.contenedorfotos{
    width: 90%;
    font-size: 50%;
}
/*Retoques Laboratorios*/

@media (min-width:481px) and (max-width:768px)
{  
    html, body,footer{height: 100%;
        width: 100%;}
nav{
height: 10px;
}
footer{
font-size: 50%;
}

/*Retoques Index.html*/
.sectiontitle{
    font-size: 120%;
    margin: auto;
    text-align: center;}
    .btn{
        font-size: 70%;
        padding: 5px;
    }
}

.presentacion{
    width:100%;
    height: fit-content;
    margin: auto;

    .Title{font-size: 80%;
        padding-left: 20px;
        padding-right: 20px;
        }
    .Subtitle{font-size: 60%;
        width: 95%;
        padding-left: 20px;
        padding-right: 20px;}
    .Description{
        font-size: 45%;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        }
}


.Seccion1{
        height: fit-content;
        }

.experienciaycertificaciones {
    
        margin: auto;
        background-color: #ebebeb;
        width:100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        

        .expcard{
            font-size: 40%;
            margin: auto;
            width: 70%;
            text-align: center;
            height: fit-content;
            padding: 10px;
            
            h2{width: 100%;
                font-size: 100%;
                }
            
            ul{overflow-y: scroll;
            li{width: 100%;
                font-size: 80%;}
            }

            }
            




.Seccion2{height: fit-content;}

.carousel{
    width: 90%;
    height: 100%;
    margin: auto;
    font-size: 20%;
    text-align: center;
    
    p{
        color: #FFFFFF;
        font-size: small;}
    .carousel h2{
        color: #FFFFFF;
        font-size: small;}
    }

.Seccion3{
    display: grid;
    place-content: center;}
        .fotos{
            width: 90%;
            height: 400px;
            overflow: scroll;
            padding: 20px;
            font-size: small;
            display:flex;
            flex-wrap: wrap;
            flex-direction: row;

            }
            .card{width: 40%;
                height: 50%;
                overflow: hidden;
            
                .foto{
                    width: 90%;
                    height: 90%;
                    }
            }
            

    

.Seccion4{  
            height: fit-content;
            font-size: 150%;
            text-align: center;
        }
        .Seccion4 h3{margin:auto;
            text-align: center;}

.encabezado img{grid-area: icon;
        place-content: left;
            width: 30px;}
/*Retoques Certificaciones*/
.secundaria h1{
    font-size:120%;}
    

    .certbox{width: 80%;
        height: 100%;
        margin: auto;
        font-size: 60%;
        padding-bottom: 30px;}
        div{
            height: fit-content;
            gap:20px;
        }


/*Retoques Biblioteca*/
/*Retoques fotos*/
.contenedorfotos{
    width: 90%;
    font-size: 50%;
}
/*Retoques Laboratorios*/
    

@media (min-width:769px) and (max-width:1278px)
{  
    html, body,footer{height: 100%;
        width: 100%;}
nav{
height: 10px;
}
footer{
font-size: 50%;
}

/*Retoques Index.html*/
.sectiontitle{
    font-size: 120%;
    margin: auto;
    text-align: center;}
    .btn{
        font-size: 70%;
        padding: 8px;
    }


.presentacion{
    width:100%;
    height: fit-content;
    margin: auto;

    .Title{font-size: 90%;
        padding-left: 20px;
        padding-right: 20px;
        }
    .Subtitle{font-size: 70%;
        width: 95%;
        padding-left: 20px;
        padding-right: 20px;}
    .Description{
        font-size: 60%;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        }
}


.Seccion1{
        height: fit-content;

        }

.experienciaycertificaciones {
        margin: auto;
        background-color: #ebebeb;
        width:100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;

        .expcard{
            font-size: 70%;
            margin: auto;
            width: fit-content;
            text-align: center;
            height: fit-content;
            padding: 10px;
            }
            h2{
                font-size: x-large;
                }
            ul{

                li{font-size: large;}
            }
            

        } 


.Seccion2{height: fit-content;}

.carousel{
    width: 90%;
    height: 100%;
    margin: auto;
    font-size: 20%;
    
    p{
        margin: auto;
        color: #FFFFFF;
        font-size: large;
        
    }
    h2{
        color: #FFFFFF;
        font-size: xx-large;
        }
    }
    

.Seccion3{
    display: grid;
    place-content: center;}
        .fotos{
            width: 90%;
            height: 600px;
            overflow: scroll;
            padding: 80px;
            font-size: large;
            display:flex;
            flex-wrap: wrap;
            flex-direction: row;

            }
            .card{width: 40%;
                height: 40%;
                overflow: hidden;}
            .foto{
                width: 60%;
                height: 60%;
                }
    

.Seccion4{  
            height: fit-content;
            text-align: center;
        h3{font-size: large;
                margin:auto;
                text-align: center;}
        
        }
        
}

.encabezado img{grid-area: icon;
    place-content: left;
    width: 25px;
margin-top: 7%;}

/*Retoques Certificaciones*/
.secundaria h1{
    font-size:120%;}
    

    .certbox{width: 80%;
        height: 100%;
        margin: auto;
        font-size: 60%;
        padding-bottom: 30px;}
    .certbox div{
        height: fit-content;
        gap:20px;
    }

/*Retoques Biblioteca*/
/*Retoques fotos*/
.contenedorfotos{
    width: 90%;
    font-size: 50%;
}
/*Retoques footer*/
.pie{font-size: 110%;}
/*Retoques Laboratorios*/
@media (min-width:1278px)
{  
    html, body,footer{height: 100%;
        width: 100%;}
nav{
height: 10px;
}
footer{
font-size: 50%;
}

/*Retoques Index.html*/
.sectiontitle{
    font-size: 130%;
    margin: auto;
    text-align: center;}
    .btn{
        font-size: 90%;
        padding: 10px;
    }


.presentacion{
    width:100%;
    height: fit-content;
    margin: auto;

    .Title{font-size: 90%;
        padding-left: 20px;
        padding-right: 20px;
        }
    .Subtitle{font-size: 70%;
        width: 95%;
        padding-left: 20px;
        padding-right: 20px;}
    .Description{
        font-size: 60%;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        }
}




.Seccion1{
        height: fit-content;
        width: 100%;
        }

.experienciaycertificaciones {
    
        margin: auto;
        background-color: #ebebeb;
        width:100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        
        
        .expcard{
            font-size: 70%;
            margin: auto;
            width: 80%;
            text-align: center;
            height: fit-content;
            padding: 10px;
            h2{
                font-size: xx-large;
                }
            }
    
    } 


.Seccion2{height: fit-content;}

.carousel{
    width: 90%;
    height: 100%;
    margin: auto;
    font-size: 20%;
    p{
        color: #FFFFFF;
        font-size: large;
        
    }
    h2{
        color: #FFFFFF;
        font-size: xx-large;
        }
    }


.Seccion3{
    display: grid;
    place-content: center;}
        .fotos{
            width: 95%;
            height: 800px;
            overflow: scroll;
            padding: 80px;
            font-size: large;
            display:flex;
            flex-wrap: wrap;
            flex-direction: row;

            }
            .card{width: 30%;
                height: 40%;
            
                .foto{
                    width: 90%;
                    height: 90%;
                    }
            }
            
    

.Seccion4{  
            margin: auto;
            height: fit-content;
            font-size: xx-large;
            
            h3{margin:auto;
                text-align: center;}
        }

}
/*Retoques Certificaciones*/
.secundaria h1{
    font-size:120%;}
    

    .certbox{width: 80%;
        height: 100%;
        margin: auto;
        font-size: 60%;
        padding-bottom: 30px;
    
        div{
            height: fit-content;
            gap:20px;
        }
    }
    

/*Retoques Biblioteca*/

/*Retoques fotos*/
.contenedorfotos{
    width: 90%;
    font-size: 50%;
}}